*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);

  /* paragraphs */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --Gray-100: hsl(0, 0%, 95%);
}

/* FONTS */
/* lexend-deca-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/lexend-deca-v24-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Big Shoulders";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/big-shoulders-v3-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: var(--Gray-100);
  color: #ffffff;
}

h2 {
  font-family: "Big Shoulders";
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 0;
}

p,
a {
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.65em;
  letter-spacing: 0;
}

a.button {
  text-decoration: none;
  border-radius: 25px;
  background-color: var(--Gray-100);
  padding: 0.5rem 2rem;
  border: 2px solid var(--Gray-100);
}

/* Three Card */
#three-card {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.5rem 1.5rem;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;

    &:nth-child(1) {
      background-color: var(--Gold-500);
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      a.button {
        color: var(--Gold-500);
        &:hover {
          border: 2px solid #ffffff;
          color: #ffffff;
          background-color: transparent;
        }
      }
    }
    &:nth-child(2) {
      background-color: var(--Cyan-800);
      a.button {
        color: var(--Cyan-800);
        &:hover {
          border: 2px solid #ffffff;
          color: #ffffff;
          background-color: transparent;
        }
      }
    }
    &:nth-child(3) {
      background-color: var(--Green-950);
      border-radius: 0rem 0rem 0.5rem 0.5rem;
      a.button {
        color: var(--Green-950);
        &:hover {
          border: 2px solid #ffffff;
          color: #ffffff;
          background-color: transparent;
        }
      }
    }
  }

  img {
    margin-bottom: 40px;
    width: 63.92px;
    height: 40px;
  }

  .text {
    h2 {
      margin-bottom: 1.5rem;
    }
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 35rem) {
  #three-card {
    .card {
      width: 80vw;
    }
  }
}

@media only screen and (min-width: 60rem) {
  #three-card {
    .container {
      display: flex;
    }
    .card {
      width: 20vw;

      &:nth-child(1) {
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 0.5rem;
      }

      &:nth-child(3) {
        border-radius: 0rem 0.5rem 0.5rem 0rem;
      }
    }
  }
}
